<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Deputado</title>
</head>
<body>
    <h1>Detalhes do Deputado</h1>
    <div>
        <img src="{{deputado["ultimoStatus"]['urlFoto']}}">
        <h2>{{"Nome:"+ deputado["nomeCivil"] }}</h2>
        <h2>{{"Estado:"+ deputado["ultimoStatus"]['siglaUf'] }}</h2>
        <p>Redes Sociais:</p>
        <ul>
            {% for rede_social in deputado["redeSocial"] %}
            <li>{{ rede_social }}</li>
            {% endfor %}
        </ul>
        <a href="/">Voltar </a>

    </div>
</body>
</html>
