<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Deputados</title>
</head>
<body>
    <h1>Lista de Deputados</h1>
    <ul>
        {% for deputado in deputados %}
        <li><a href="{{ url_for('detalhes_deputado', id_deputado=deputado['id']) }}">{{ deputado['nome'] }} - {{ deputado['siglaPartido'] }} - <img src="{{ deputado["urlFoto"] }}"> </a></li>
        

        {% endfor %}
    </ul>
</body>
</html>
